# Dependencies
node_modules/

# Environment Variables (Secrets)
.env
.env.local

# Backend Files (Do not upload to GitHub Pages)
server.js
package.json
package-lock.json

# System Files
.DS_Store
Thumbs.db
